{% extends 'base.html' %}

{% block title %} Users {% endblock %}

{% block content %}
<!--users comment for testing-->
<!--
{% for msg in get_flashed_messages() %}
  <p style="color: green">{{ msg }}</p>
{% endfor %} -->

<div>
  <ul class="available-pets-list">
    {% for pet in pets %}
    <li>
      <a href="/pets/{{ pet.id }}"> {{ pet.name }}</a>
      {% if pet.photo_url %}
        <img src="{{ pet.photo_url }}" alt="A Photo of {{ pet.name }}">
      {% endif %}
      {% if pet.available %}
        <p style="font-weight: bold">Available</p>
      {% endif %}
    </li>
    {% endfor %}

  </ul>

  <form action="/pets/new">
    <button>Add</button>
  </form>
</div>

{% endblock %}